{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "chrome > 60"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "lodash"
  ]
}
